

/* ------------------------------------------------- Color styling ------------------------------------------------- */

:root {
    --map-top: 11px;
    --primary-bg-color: #C1A67A;
    --primary-text-color: black;
    --dark-bg-color: #3B5032;
    --secondary-dark-bg-color: #766548;
    --highlight-color: #7FA743;
    --lighter-highlight-color: #CFCFCF;
    --btn-info-color: #54A3CD;
    --warning-color: #A64242;
}




/* ------------------------------------------------- General styling ------------------------------------------------- */
    body {
        margin: 0;
        padding: 0;
        /*background-color: var(--primary-bg-color);*/
        color: var(--dark-bg-color);
        font-family: "Verdana", "Verdana", sans-serif;
        list-style: none;
        text-decoration: none;
    }


    #container {
        position: relative;
        /*min-height: 100%;
        height: auto !important;
        height: 100%;*/
    }

    #container {
        min-height: 100%;
        /* equal to footer height */
        margin-bottom: 5px;
    }

    #container:after {
        content: "";
        display: block;
    }

    .first-row {
        margin-top: 22px;
    }


    .label-no-padding {
        padding-left: 2px;
        padding-right: 5px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .text-label-small{
        margin-left: -15px;
        padding-right: 5px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .icon-blue {
        color: var(--btn-info-color);
        font-size: 12px;
        top: -7px;
        position: relative;
        left: -3px;
    }

    .sidebar form div div select {
        width: 10em;
        margin-bottom: 30px;
        margin-top: 30px;
        background-color: var(--highlight-color);
        color: var(--dark-bg-color);
        padding: 4px;
        border-radius: 9px;
    }

    #burgermenucheck:checked ~ section {
        margin-left: 420px;
    }


    section {
        transition: all 0.5s;
        margin-left: 0;
        width: auto;
        /*flex: 1;*/
    }

    .column {
        float: left;
    }

    .left {
        width: 30%;
    }

    .middle {
        width: 10%;
    }

    .right {
        width: 60%;
    }


/* ------------------------------------------------- Map styling ------------------------------------------------- */

    #map {
        height: 70vh;
        z-index: 0;
    }



/* ------------------------------------------------- Bottom inputs styling ------------------------------------------------- */

    .collapsible {
        background-color: var(--dark-bg-color);
        color: whitesmoke;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active-collapsible, .collapsible:hover {
        background-color: mix( var(--dark-bg-color), black, 15%);
    }

    .collapsible:after {
        content: '\25bc';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active-collapsible:after {
        content: "\25b2";
    }

    .info-content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        /*background-color: #f1f1f1;*/
        overflow-y: scroll;
    }

    #inputs_bottom {
        position: inherit;
        width: auto;
        top: calc(100% + 60px);
        padding: 20px;
        padding-top: 0;
        bottom: 0;
        height: auto;
        transition: all .5s;
        color: whitesmoke;
        background: var(--dark-bg-color);
        border-radius: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    #inputs_bottom header {
        font-size: 22px;
        user-select: none;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: -15px;
        margin-bottom: 20px;
        transition: all 0.5s ease;
    }

    #inputs_bottom .row {
        margin-left: 15px;
    }

    #inputs_bottom .out-label {
        text-align: right;
    }

    #inputs_bottom .routeInfoOutputLabels {
        font-weight: bold;
    }

    #inputs_bottom details {
        width: 100%;
    }

    #inputs_bottom summary {
        margin-bottom: 30px;
    }

    #inputs_bottom .output-info-box {
        border: double;
        border-radius: 5px;
        border-color: var(--dark-bg-color);
    }

    #burgermenucheck:checked ~ #inputs_bottom {
        margin-left: 440px;
    }



/* ------------------------------------------------- Button styling ------------------------------------------------- */

    .btn:hover {
        color: var(--primary-bg-color);
    }

    .btn-blue {
        background-color: var(--btn-info-color);
    }

    .btn-green {
        background-color: var(--highlight-color);
    }

    .btn-green:hover {
        color: var(--secondary-dark-bg-color);
    }

    .btn-red {
        background-color: var(--warning-color);
    }

    .btn-yellow {
        background-color: var(--primary-bg-color);
    }

    .btn-yellow:hover {
        color: var(--secondary-dark-bg-color);
    }

    .btn-outline-neutral {
        border-color: var(--lighter-highlight-color);
        color: var(--lighter-highlight-color);
    }

    .tour-submit-btn {
        margin-top: auto;
        margin-left: auto;
    }


/* ------------------------------------------------- Sidemenu styling ------------------------------------------------- */


    .sidebar {
        position: absolute;
        overflow-y: scroll;
        left: -450px;
        width: 450px;
        height: 100%;
        background: var(--dark-bg-color);
        transition: all 0.5s ease;
        z-index: 2;
        min-height: 580px;
    }

    .sidebar header {
        position: absolute;
        font-size: 22px;
        left: -450px;
        width: 450px;
        color: whitesmoke;
        text-align: center;
        line-height: 2;
        background: var(--dark-bg-color);
        user-select: none;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.5s ease;
        z-index: 3;
    }


    .sidebar .form-group.row {
        display: flex;
        align-items: center;
        width: 100%;
        line-height: 1.2;
        font-size: 15px;
        color: whitesmoke;
        padding-left: 40px;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        transition: 0.4s;
    }

    .sidebar ul {
        padding-left: 0;
    }


    #burgermenucheck {
        display: none;
    }

    label {
        display: unset;
    }


    label #btn, label #cancel {
        top: calc(var(--map-top));
        left: 60px;
        width: 50px;
        height: auto;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        color: whitesmoke;
        border-radius: 3px;
        transition: all 0.5s;
        z-index: 3;
        background: var(--dark-bg-color);
        padding: 20px;
        box-sizing: border-box;
    }

    label #btn {
        position: absolute;
        color: whitesmoke;
        padding: 6px 12px;
        transition: all 0.5s;
    }

    label #cancel {
        position: relative;
        left: 347px;
        height: auto;
        font-size: 36px;
        color: whitesmoke;
        padding: 4px 9px;
        transition: all .5s ease;
    }


    #burgermenucheck:checked ~ .sidebar {
        left: 0;
    }

        #burgermenucheck:checked ~ .sidebar header {
            margin-left: 0px;
            left: 0;
        }

    #burgermenucheck:checked ~ label #btn {
        left: 250px;
        opacity: 0;
        pointer-events: none;
    }

    #burgermenucheck:checked ~ label #cancel {
        /*position: sticky;*/
        top: calc(var(--map-top) + 55px);
        left: 365px;
    }




    .sidemenu-elements {
        height: 30px;
        font-size: 13px;
        border-radius: 0.25em !important;
        margin-right: 5px;
    }

    .sidemenu-btn {
        font-size: 15px;
        align-items: center;
    }

    #btn-row {
        display: flex;
        justify-content: flex-end;
        border-bottom: none;
        border-top: none;
    }




/* ------------------------------------------------- Hover styling -------------------------------------------------*/


    .icon-label {
        position: relative;
        border-radius: 5px;
    }

    .wrapper {
        position: relative;
        display: inline-flex;
        list-style: none;
        border-radius: 5px;
    }

    .icon-label .tooltip {
        position: absolute;
        top: 100%;
        left: 10%;
        width: 350px;
        font-size: 14px;
        background: var(--lighter-highlight-color);
        color: var(--secondary-dark-bg-color);
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .icon-label .tooltip::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background: var(--lighter-highlight-color);
        left: 10%;
        top: -3px;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .icon-label:hover .tooltip {
        top: 35px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .icon-label:hover span,
    .icon-label:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
